openapi: 3.0.3
info:
  title: IDS Platform Backend API
  version: 1.14.0
  description: >-
    API for the OpenWrt IDS/IPS platform backend (Sentinel). Exposes processed
    security telemetry produced by the edge agent: devices and heartbeats,
    alerts, aggregated traffic statistics and packet/forensics metadata.

    Also documents the dashboard console view models (`/api/console/*`), the
    incident actions (assign/contain), and the report-export endpoints
    (`/api/reports/*`, served by the ClickHouse-backed download service behind
    the same gateway).

    Every successful response is wrapped in a standard envelope
    (`success`, `message`, `data`, `timestamp`). Resources and paged collections
    carry HATEOAS `links`. Errors return an `ErrorResponse`.
  license:
    name: Proprietary

servers:
  - url: https://api.puk3p.online
    description: Production backend server

tags:
  - name: Index
    description: Hypermedia entry point
  - name: Devices
    description: Device registration, heartbeat and status
  - name: Alerts
    description: Alert ingestion and retrieval
  - name: Traffic
    description: Aggregated traffic statistics
  - name: Forensics
    description: Packet-level forensic metadata
  - name: Dns
    description: DNS destination telemetry ingest and the operator destinations view
  - name: Console
    description: Pre-computed, page-specific view models for the dashboard
  - name: Reports
    description: Filtered alert exports (CSV/JSON), served by the ClickHouse download service
  - name: Rules
    description: OpenWrt edge detection rules and the agent-facing ruleset routers pull
  - name: Auth
    description: Operator authentication (login/register/logout) issuing JWTs
  - name: Account
    description: The authenticated operator's profile, preferences, sessions and audit log

# Every endpoint requires a bearer JWT by default. Operations that are public
# (login/register, the API index, actuator) or agent-only override this locally.
security:
  - bearerAuth: []

paths:
  /api:
    get:
      tags:
        - Index
      summary: API hypermedia entry point
      operationId: getApiIndex
      security: []
      responses:
        '200':
          description: Top-level links to the available collections and actions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/IndexResponse'

  /api/auth/login:
    post:
      tags:
        - Auth
      summary: Authenticate an operator and issue a JWT
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: >-
            Either a token + account, or (when 2FA is enabled) mfaRequired=true
            with a short-lived mfaToken to complete at /api/auth/mfa.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/mfa:
    post:
      tags:
        - Auth
      summary: Complete login with a TOTP code (2FA second step)
      operationId: loginMfa
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaLoginRequest'
      responses:
        '200':
          description: Verified; returns the token and account snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/google:
    post:
      tags:
        - Auth
      summary: Sign in (or sign up) with a Google ID token
      operationId: loginGoogle
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleLoginRequest'
      responses:
        '200':
          description: >-
            Authenticated (token + account), or mfaRequired=true if the linked
            account also has 2FA enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/register:
    post:
      tags:
        - Auth
      summary: Register a new operator account
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/auth/logout:
    post:
      tags:
        - Auth
      summary: Revoke the current session
      operationId: logout
      responses:
        '200':
          description: Session revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account:
    get:
      tags:
        - Account
      summary: Get the authenticated operator's account
      operationId: getAccount
      responses:
        '200':
          description: The current account, preferences and notification toggles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/profile:
    put:
      tags:
        - Account
      summary: Update profile fields
      operationId: updateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/preferences:
    put:
      tags:
        - Account
      summary: Update console preferences
      operationId: updatePreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferencesRequest'
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/notifications:
    put:
      tags:
        - Account
      summary: Update notification toggles
      operationId: updateNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationsRequest'
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/password:
    post:
      tags:
        - Account
      summary: Change the operator's password
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/mfa/setup:
    post:
      tags:
        - Account
      summary: Begin TOTP 2FA enrollment (returns secret + QR)
      operationId: mfaSetup
      responses:
        '200':
          description: A fresh TOTP secret with otpauth URI and QR data URI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaSetupResponseEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/mfa/enable:
    post:
      tags:
        - Account
      summary: Confirm a TOTP code and switch 2FA on
      operationId: mfaEnable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaCodeRequest'
      responses:
        '200':
          description: Updated account (mfaEnabled=true)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/mfa/disable:
    post:
      tags:
        - Account
      summary: Verify a TOTP code and switch 2FA off
      operationId: mfaDisable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaCodeRequest'
      responses:
        '200':
          description: Updated account (mfaEnabled=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/sessions:
    get:
      tags:
        - Account
      summary: List the operator's active sessions
      operationId: listSessions
      responses:
        '200':
          description: Active sessions, newest first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/sessions/revoke-others:
    post:
      tags:
        - Account
      summary: Revoke every session except the current one
      operationId: revokeOtherSessions
      responses:
        '200':
          description: Other sessions revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/account/activity:
    get:
      tags:
        - Account
      summary: Recent account activity (audit log)
      operationId: accountActivity
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 8
      responses:
        '200':
          description: Recent audit entries, newest first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/devices/register:
    post:
      tags:
        - Devices
      summary: Register a device (or update an existing one)
      operationId: registerDevice
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegisterRequest'
      responses:
        '201':
          description: Device registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponseEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/devices/{deviceId}/heartbeat:
    post:
      tags:
        - Devices
      summary: Record a device heartbeat
      operationId: deviceHeartbeat
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceHeartbeatRequest'
      responses:
        '200':
          description: Heartbeat received
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatusEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/devices:
    get:
      tags:
        - Devices
      summary: List devices (paged)
      operationId: getDevices
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: lastSeenAt
        - $ref: '#/components/parameters/DirectionParam'
      responses:
        '200':
          description: Page of devices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePageEnvelope'

  /api/devices/{deviceId}:
    get:
      tags:
        - Devices
      summary: Get a device by id
      operationId: getDeviceById
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
      responses:
        '200':
          description: Device found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponseEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/devices/{deviceId}/status:
    get:
      tags:
        - Devices
      summary: Get a device status by id
      operationId: getDeviceStatus
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
      responses:
        '200':
          description: Device status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatusEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/devices/{deviceId}/quarantine:
    post:
      tags:
        - Devices
      summary: Quarantine (isolate) a device
      description: >-
        Marks the device QUARANTINED. While contained, incoming heartbeats are
        still recorded but no longer restore the device to ONLINE — only an
        explicit release lifts isolation. Idempotent.
      operationId: quarantineDevice
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
      responses:
        '200':
          description: Device quarantined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatusEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/devices/{deviceId}/release:
    post:
      tags:
        - Devices
      summary: Release a device from quarantine
      description: >-
        Lifts containment: the device drops to OFFLINE and recovers to ONLINE on
        its next heartbeat. Idempotent.
      operationId: releaseDevice
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
      responses:
        '200':
          description: Device released from quarantine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatusEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/alerts:
    post:
      tags:
        - Alerts
      summary: Create an alert
      operationId: createAlert
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertCreateRequest'
      responses:
        '201':
          description: Alert created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponseEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags:
        - Alerts
      summary: List alerts with filters (paged)
      operationId: getAlerts
      parameters:
        - name: severity
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Severity'
        - name: protocol
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Protocol'
        - name: deviceId
          in: query
          required: false
          schema:
            type: string
        - name: sourceIp
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: timestamp
        - $ref: '#/components/parameters/DirectionParam'
      responses:
        '200':
          description: Page of alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertPageEnvelope'

  /api/alerts/latest:
    get:
      tags:
        - Alerts
      summary: Get the most recent alert
      operationId: getLatestAlert
      responses:
        '200':
          description: Latest alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponseEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/alerts/{alertId}:
    get:
      tags:
        - Alerts
      summary: Get an alert by id
      operationId: getAlertById
      parameters:
        - $ref: '#/components/parameters/AlertIdPath'
      responses:
        '200':
          description: Alert found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponseEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/alerts/by-device/{deviceId}:
    get:
      tags:
        - Alerts
      summary: List alerts for a device (paged)
      operationId: getAlertsByDevice
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Page of alerts for the device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertPageEnvelope'

  /api/alerts/{alertId}/acknowledge:
    patch:
      tags:
        - Alerts
      summary: Acknowledge an alert
      operationId: acknowledgeAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdPath'
      responses:
        '200':
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponseEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/traffic/stats:
    post:
      tags:
        - Traffic
      summary: Store a traffic-statistics window
      operationId: createTrafficStats
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrafficStatsCreateRequest'
      responses:
        '201':
          description: Traffic stats stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficStatsResponseEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/traffic/stats/latest:
    get:
      tags:
        - Traffic
      summary: Get the most recent traffic-statistics window
      operationId: getLatestTrafficStats
      responses:
        '200':
          description: Latest traffic stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficStatsResponseEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/traffic/stats/by-device/{deviceId}:
    get:
      tags:
        - Traffic
      summary: List traffic-statistics windows for a device (paged)
      operationId: getTrafficStatsByDevice
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Page of traffic stats for the device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficStatsPageEnvelope'

  /api/traffic/summary:
    get:
      tags:
        - Traffic
      summary: Get aggregated traffic totals and protocol percentages
      operationId: getTrafficSummary
      responses:
        '200':
          description: Traffic summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficSummaryEnvelope'

  /api/dns/queries:
    post:
      tags:
        - Dns
      summary: Ingest a batched window of DNS lookups
      description: >-
        One batched POST per 5-second window from the edge agent. Each item in
        `queries` is persisted as a separate DNS query row. The agent does not
        POST when the window is empty.
      operationId: createDnsQueries
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsQueryBatchRequest'
      responses:
        '201':
          description: DNS queries stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsIngestAckEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/forensics/packets:
    post:
      tags:
        - Forensics
      summary: Store a packet summary
      operationId: createPacketSummary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PacketSummaryCreateRequest'
      responses:
        '201':
          description: Packet summary stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketSummaryResponseEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags:
        - Forensics
      summary: List packet summaries (paged)
      operationId: getPacketSummaries
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Page of packet summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketSummaryPageEnvelope'

  /api/forensics/by-alert/{alertId}:
    get:
      tags:
        - Forensics
      summary: List packet summaries for an alert (paged)
      operationId: getPacketSummariesByAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdPath'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Page of packet summaries for the alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketSummaryPageEnvelope'

  /api/forensics/timeline:
    get:
      tags:
        - Forensics
      summary: Get the forensic packet timeline (paged)
      operationId: getForensicsTimeline
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Page of timeline entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForensicsTimelinePageEnvelope'

  /api/alerts/analysts:
    get:
      tags:
        - Alerts
      summary: List the analyst response roster
      operationId: getAnalysts
      responses:
        '200':
          description: Analyst roster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalystListEnvelope'

  /api/alerts/{alertId}/assign:
    patch:
      tags:
        - Alerts
      summary: Assign an incident to an analyst
      description: >-
        Assigns the incident to a named roster analyst; when the body is omitted
        the backend auto-picks the least-loaded analyst.
      operationId: assignAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRequest'
      responses:
        '200':
          description: Updated alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponseEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/alerts/{alertId}/contain:
    post:
      tags:
        - Alerts
      summary: Contain the attacking source IP for an incident
      description: >-
        Records an active containment (block) for the alert's source IP.
        Idempotent — one active containment per source IP.
      operationId: containAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdPath'
      responses:
        '200':
          description: Containment record (existing or newly created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainmentResponseEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/console/dashboard:
    get:
      tags:
        - Console
      summary: Get the dashboard view model
      operationId: getDashboardView
      responses:
        '200':
          description: Dashboard view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardViewEnvelope'

  /api/console/traffic:
    get:
      tags:
        - Console
      summary: Get the traffic view model
      operationId: getTrafficView
      responses:
        '200':
          description: Traffic view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficViewEnvelope'

  /api/console/incidents:
    get:
      tags:
        - Console
      summary: Get the incidents view model
      operationId: getIncidentsView
      responses:
        '200':
          description: Incidents view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentsViewEnvelope'

  /api/console/incidents/{alertId}/forensics:
    get:
      tags:
        - Console
      summary: Get the forensic detail view for an incident
      operationId: getIncidentForensicsView
      parameters:
        - $ref: '#/components/parameters/AlertIdPath'
      responses:
        '200':
          description: Incident forensics view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentForensicsViewEnvelope'

  /api/console/rules:
    get:
      tags:
        - Console
      summary: Rules console — KPI strip + live trigger feed
      operationId: getRulesConsole
      responses:
        '200':
          description: Rules console view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RulesConsoleEnvelope'

  /api/console/destinations:
    get:
      tags:
        - Console
      summary: Get the DNS destinations view model
      description: >-
        Aggregated view of observed DNS lookups: recent lookups (newest first),
        top domains by count, and a per-client domain breakdown.
      operationId: getDestinationsView
      responses:
        '200':
          description: Destinations view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationsViewEnvelope'

  /api/rules:
    get:
      tags:
        - Rules
      summary: List edge detection rules
      operationId: listRules
      parameters:
        - name: category
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RuleCategory'
        - name: interfaceScope
          in: query
          required: false
          schema:
            type: string
        - name: deviceId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleListEnvelope'
    post:
      tags:
        - Rules
      summary: Create a rule
      operationId: createRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpsertRequest'
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleEnvelope'

  /api/rules/{ruleId}:
    parameters:
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Rules
      summary: Get a rule
      operationId: getRule
      responses:
        '200':
          description: Rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Rules
      summary: Update a rule
      operationId: updateRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpsertRequest'
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleEnvelope'
    delete:
      tags:
        - Rules
      summary: Delete a rule
      operationId: deleteRule
      responses:
        '200':
          description: Rule deleted

  /api/rules/{ruleId}/enable:
    post:
      tags:
        - Rules
      summary: Enable a rule
      operationId: enableRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rule enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleEnvelope'

  /api/rules/{ruleId}/disable:
    post:
      tags:
        - Rules
      summary: Disable a rule
      operationId: disableRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rule disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleEnvelope'

  /api/rules/{ruleId}/deploy:
    post:
      tags:
        - Rules
      summary: Deploy a rule to its target router
      operationId: deployRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rule deployed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleEnvelope'

  /api/devices/{deviceId}/ruleset:
    get:
      tags:
        - Rules
      summary: Agent-facing effective ruleset for a router
      description: >-
        The compact ruleset an OpenWrt edge agent pulls and applies to its
        on-router anomaly detector. Merges enabled rules targeting the device
        plus global rules; threshold keys (udpPacketThreshold, tcpPacketThreshold,
        byteThreshold) drive the detector directly.
      operationId: getAgentRuleset
      security:
        - apiKeyAuth: []
        - apiKeyQueryAuth: []
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
      responses:
        '200':
          description: Effective ruleset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRulesetEnvelope'

  /api/console/logs:
    get:
      tags:
        - Console
      summary: Unified log/event stream (Log Viewer)
      description: >-
        Merges real sources into one stream — the backend's own runtime logs,
        recent alerts (edge detections) and device lifecycle events — plus KPIs
        and pipeline integrity.
      operationId: getLogStream
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 80
      responses:
        '200':
          description: Log stream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogStreamEnvelope'

  /api/console/topology/node/{deviceId}:
    get:
      tags:
        - Console
      summary: Live detail for a device-backed topology node
      description: >-
        Real status, IP, load (CPU/RAM from the agent heartbeat), activity (from
        the latest traffic window) and recent detections for a router.
      operationId: getTopologyNode
      parameters:
        - $ref: '#/components/parameters/DeviceIdPath'
      responses:
        '200':
          description: Node detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeDetailEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/console/topology/events:
    get:
      tags:
        - Console
      summary: Topology live feed — real domain events
      description: >-
        Recent events synthesised from live activity: alerts (anomaly /
        containment), device registrations and heartbeat status. Newest first.
      operationId: getTopologyEvents
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 40
      responses:
        '200':
          description: Topology events (newest first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyEventListEnvelope'

  /api/console/topology/logs:
    get:
      tags:
        - Console
      summary: Topology live feed — the backend's own runtime logs
      description: >-
        The backend service's most recent runtime log lines, captured by an
        in-memory ring-buffer appender. Newest first.
      operationId: getTopologyLogs
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 40
      responses:
        '200':
          description: Runtime log lines (newest first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeLogListEnvelope'

  /api/reports/meta:
    get:
      tags:
        - Reports
      summary: Get export filter options and the store's date range
      operationId: getReportMeta
      responses:
        '200':
          description: Filter metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterMetaEnvelope'

  /api/reports/alerts/preview:
    get:
      tags:
        - Reports
      summary: Preview the rows a filtered alert export would contain
      operationId: previewAlertExport
      parameters:
        - $ref: '#/components/parameters/FilterFrom'
        - $ref: '#/components/parameters/FilterTo'
        - $ref: '#/components/parameters/FilterSeverity'
        - $ref: '#/components/parameters/FilterType'
        - $ref: '#/components/parameters/FilterProtocol'
        - $ref: '#/components/parameters/FilterSourceIp'
        - $ref: '#/components/parameters/FilterDestinationIp'
        - $ref: '#/components/parameters/FilterDeviceId'
        - $ref: '#/components/parameters/FilterSourcePort'
        - $ref: '#/components/parameters/FilterDestinationPort'
        - $ref: '#/components/parameters/FilterMinPacketCount'
        - $ref: '#/components/parameters/FilterMaxPacketCount'
        - $ref: '#/components/parameters/FilterMinBytes'
        - $ref: '#/components/parameters/FilterMaxBytes'
        - $ref: '#/components/parameters/FilterMinWindowSeconds'
        - $ref: '#/components/parameters/FilterAcknowledged'
        - $ref: '#/components/parameters/FilterAlertId'
        - $ref: '#/components/parameters/FilterSearch'
        - $ref: '#/components/parameters/FilterLimit'
      responses:
        '200':
          description: Preview rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewResponseEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/reports/alerts/download:
    get:
      tags:
        - Reports
      summary: Download filtered alerts as CSV or JSON
      operationId: downloadAlertExport
      parameters:
        - $ref: '#/components/parameters/FilterFrom'
        - $ref: '#/components/parameters/FilterTo'
        - $ref: '#/components/parameters/FilterSeverity'
        - $ref: '#/components/parameters/FilterType'
        - $ref: '#/components/parameters/FilterProtocol'
        - $ref: '#/components/parameters/FilterSourceIp'
        - $ref: '#/components/parameters/FilterDestinationIp'
        - $ref: '#/components/parameters/FilterDeviceId'
        - $ref: '#/components/parameters/FilterSourcePort'
        - $ref: '#/components/parameters/FilterDestinationPort'
        - $ref: '#/components/parameters/FilterMinPacketCount'
        - $ref: '#/components/parameters/FilterMaxPacketCount'
        - $ref: '#/components/parameters/FilterMinBytes'
        - $ref: '#/components/parameters/FilterMaxBytes'
        - $ref: '#/components/parameters/FilterMinWindowSeconds'
        - $ref: '#/components/parameters/FilterAcknowledged'
        - $ref: '#/components/parameters/FilterAlertId'
        - $ref: '#/components/parameters/FilterSearch'
        - $ref: '#/components/parameters/FilterLimit'
        - $ref: '#/components/parameters/ReportFormat'
      responses:
        '200':
          description: Streamed export file (attachment)
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/reports/volume:
    get:
      tags:
        - Reports
      summary: 24-hour threat-volume histogram (ClickHouse-backed)
      operationId: getThreatVolume
      responses:
        '200':
          description: Eight three-hour threat-volume buckets over the last 24h
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatVolumeEnvelope'

  /api/reports/curated:
    get:
      tags:
        - Reports
      summary: List the curated reports
      operationId: listCuratedReports
      responses:
        '200':
          description: Curated report catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CuratedReportListEnvelope'

  /api/reports/curated/{name}/download:
    get:
      tags:
        - Reports
      summary: Download a curated report as CSV or JSON
      operationId: downloadCuratedReport
      parameters:
        - name: name
          in: path
          required: true
          description: Curated report key (e.g. top_source_ips)
          schema:
            type: string
        - $ref: '#/components/parameters/ReportFormat'
      responses:
        '200':
          description: Streamed report file (attachment)
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Operator JWT obtained from `POST /api/auth/login`. Send as
        `Authorization: Bearer <token>`.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: >-
        Pre-shared edge-agent key. Accepted on the agent ingest endpoints in
        place of a bearer token. The ruleset GET also accepts it as an `apiKey`
        query parameter, since the agent's fetcher cannot set request headers.
    apiKeyQueryAuth:
      type: apiKey
      in: query
      name: apiKey
      description: >-
        Edge-agent key supplied as a query parameter. Used only by the ruleset
        GET, whose fetcher (`uclient-fetch`) cannot set request headers.

  parameters:
    DeviceIdPath:
      name: deviceId
      in: path
      required: true
      description: Device identifier
      schema:
        type: string
    AlertIdPath:
      name: alertId
      in: path
      required: true
      description: Alert identifier
      schema:
        type: string
    PageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 0
    SizeParam:
      name: size
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 20
    DirectionParam:
      name: direction
      in: query
      required: false
      schema:
        type: string
        enum: [asc, desc]
        default: desc

    # ── Alert export filters (all optional; omitting one drops the predicate) ──
    FilterFrom:
      name: from
      in: query
      required: false
      description: Lower time bound (ISO-8601 date or instant, UTC).
      schema:
        type: string
        example: "2026-06-12"
    FilterTo:
      name: to
      in: query
      required: false
      description: Upper time bound (ISO-8601 date or instant, UTC).
      schema:
        type: string
        example: "2026-06-13"
    FilterSeverity:
      name: severity
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Severity'
    FilterType:
      name: type
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/AlertType'
    FilterProtocol:
      name: protocol
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Protocol'
    FilterSourceIp:
      name: sourceIp
      in: query
      required: false
      schema:
        type: string
    FilterDestinationIp:
      name: destinationIp
      in: query
      required: false
      schema:
        type: string
    FilterDeviceId:
      name: deviceId
      in: query
      required: false
      schema:
        type: string
    FilterSourcePort:
      name: sourcePort
      in: query
      required: false
      schema:
        type: integer
        format: int32
    FilterDestinationPort:
      name: destinationPort
      in: query
      required: false
      schema:
        type: integer
        format: int32
    FilterMinPacketCount:
      name: minPacketCount
      in: query
      required: false
      schema:
        type: integer
        format: int64
    FilterMaxPacketCount:
      name: maxPacketCount
      in: query
      required: false
      schema:
        type: integer
        format: int64
    FilterMinBytes:
      name: minBytes
      in: query
      required: false
      schema:
        type: integer
        format: int64
    FilterMaxBytes:
      name: maxBytes
      in: query
      required: false
      schema:
        type: integer
        format: int64
    FilterMinWindowSeconds:
      name: minWindowSeconds
      in: query
      required: false
      schema:
        type: integer
        format: int32
    FilterAcknowledged:
      name: acknowledged
      in: query
      required: false
      schema:
        type: boolean
    FilterAlertId:
      name: alertId
      in: query
      required: false
      description: Exact alert identifier.
      schema:
        type: string
    FilterSearch:
      name: search
      in: query
      required: false
      description: Free-text match on source/destination IP, alert ID or description.
      schema:
        type: string
    FilterLimit:
      name: limit
      in: query
      required: false
      description: Max rows to return (clamped server-side).
      schema:
        type: integer
        format: int32
        default: 50000
    ReportFormat:
      name: format
      in: query
      required: false
      description: Output format for the download.
      schema:
        type: string
        enum: [csv, json]
        default: csv

  responses:
    BadRequest:
      description: Invalid request payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing, invalid or expired credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ApiResponse:
      $ref: '../schemas/Common.yaml#/ApiResponse'
    IndexResponse:
      $ref: '../schemas/Common.yaml#/IndexResponse'
    ErrorResponse:
      $ref: '../schemas/Common.yaml#/ErrorResponse'
    Link:
      $ref: '../schemas/Common.yaml#/Link'

    DeviceStatus:
      $ref: '../schemas/Device.yaml#/DeviceStatus'
    DeviceRegisterRequest:
      $ref: '../schemas/Device.yaml#/DeviceRegisterRequest'
    DeviceHeartbeatRequest:
      $ref: '../schemas/Device.yaml#/DeviceHeartbeatRequest'
    DeviceResponse:
      $ref: '../schemas/Device.yaml#/DeviceResponse'
    DeviceStatusResponse:
      $ref: '../schemas/Device.yaml#/DeviceStatusResponse'
    DeviceResponseEnvelope:
      $ref: '../schemas/Device.yaml#/DeviceResponseEnvelope'
    DeviceStatusEnvelope:
      $ref: '../schemas/Device.yaml#/DeviceStatusEnvelope'
    DevicePageEnvelope:
      $ref: '../schemas/Device.yaml#/DevicePageEnvelope'

    AlertType:
      $ref: '../schemas/Alert.yaml#/AlertType'
    Severity:
      $ref: '../schemas/Alert.yaml#/Severity'
    Protocol:
      $ref: '../schemas/Alert.yaml#/Protocol'
    AlertCreateRequest:
      $ref: '../schemas/Alert.yaml#/AlertCreateRequest'
    AlertResponse:
      $ref: '../schemas/Alert.yaml#/AlertResponse'
    AlertResponseEnvelope:
      $ref: '../schemas/Alert.yaml#/AlertResponseEnvelope'
    AlertPageEnvelope:
      $ref: '../schemas/Alert.yaml#/AlertPageEnvelope'

    TrafficStatsCreateRequest:
      $ref: '../schemas/Traffic.yaml#/TrafficStatsCreateRequest'
    TrafficStatsResponse:
      $ref: '../schemas/Traffic.yaml#/TrafficStatsResponse'
    TrafficSummaryResponse:
      $ref: '../schemas/Traffic.yaml#/TrafficSummaryResponse'
    TrafficStatsResponseEnvelope:
      $ref: '../schemas/Traffic.yaml#/TrafficStatsResponseEnvelope'
    TrafficSummaryEnvelope:
      $ref: '../schemas/Traffic.yaml#/TrafficSummaryEnvelope'
    TrafficStatsPageEnvelope:
      $ref: '../schemas/Traffic.yaml#/TrafficStatsPageEnvelope'

    PacketSummaryCreateRequest:
      $ref: '../schemas/Forensics.yaml#/PacketSummaryCreateRequest'
    PacketSummaryResponse:
      $ref: '../schemas/Forensics.yaml#/PacketSummaryResponse'
    ForensicsTimelineEntry:
      $ref: '../schemas/Forensics.yaml#/ForensicsTimelineEntry'
    PacketSummaryResponseEnvelope:
      $ref: '../schemas/Forensics.yaml#/PacketSummaryResponseEnvelope'
    PacketSummaryPageEnvelope:
      $ref: '../schemas/Forensics.yaml#/PacketSummaryPageEnvelope'
    ForensicsTimelinePageEnvelope:
      $ref: '../schemas/Forensics.yaml#/ForensicsTimelinePageEnvelope'

    DnsQueryItem:
      $ref: '../schemas/Dns.yaml#/DnsQueryItem'
    DnsQueryBatchRequest:
      $ref: '../schemas/Dns.yaml#/DnsQueryBatchRequest'
    DnsIngestAck:
      $ref: '../schemas/Dns.yaml#/DnsIngestAck'
    DnsIngestAckEnvelope:
      $ref: '../schemas/Dns.yaml#/DnsIngestAckEnvelope'
    DestinationRow:
      $ref: '../schemas/Dns.yaml#/DestinationRow'
    DomainHit:
      $ref: '../schemas/Dns.yaml#/DomainHit'
    CategoryCount:
      $ref: '../schemas/Dns.yaml#/CategoryCount'
    Summary:
      $ref: '../schemas/Dns.yaml#/Summary'
    ClientDomains:
      $ref: '../schemas/Dns.yaml#/ClientDomains'
    DestinationsView:
      $ref: '../schemas/Dns.yaml#/DestinationsView'
    DestinationsViewEnvelope:
      $ref: '../schemas/Dns.yaml#/DestinationsViewEnvelope'

    DateRange:
      $ref: '../schemas/Reports.yaml#/DateRange'
    FilterMeta:
      $ref: '../schemas/Reports.yaml#/FilterMeta'
    FilterMetaEnvelope:
      $ref: '../schemas/Reports.yaml#/FilterMetaEnvelope'
    PreviewResponse:
      $ref: '../schemas/Reports.yaml#/PreviewResponse'
    PreviewResponseEnvelope:
      $ref: '../schemas/Reports.yaml#/PreviewResponseEnvelope'
    CuratedReportInfo:
      $ref: '../schemas/Reports.yaml#/CuratedReportInfo'
    CuratedReportListEnvelope:
      $ref: '../schemas/Reports.yaml#/CuratedReportListEnvelope'
    VolumeBar:
      $ref: '../schemas/Reports.yaml#/VolumeBar'
    ThreatVolumeView:
      $ref: '../schemas/Reports.yaml#/ThreatVolumeView'
    ThreatVolumeEnvelope:
      $ref: '../schemas/Reports.yaml#/ThreatVolumeEnvelope'

    AssignRequest:
      $ref: '../schemas/Alert.yaml#/AssignRequest'
    ContainmentResponse:
      $ref: '../schemas/Alert.yaml#/ContainmentResponse'
    ContainmentResponseEnvelope:
      $ref: '../schemas/Alert.yaml#/ContainmentResponseEnvelope'
    AnalystListEnvelope:
      $ref: '../schemas/Alert.yaml#/AnalystListEnvelope'

    IncidentsView:
      $ref: '../schemas/Console.yaml#/IncidentsView'
    IncidentsViewEnvelope:
      $ref: '../schemas/Console.yaml#/IncidentsViewEnvelope'
    IncidentForensicsView:
      $ref: '../schemas/Console.yaml#/IncidentForensicsView'
    IncidentForensicsViewEnvelope:
      $ref: '../schemas/Console.yaml#/IncidentForensicsViewEnvelope'
    TrafficView:
      $ref: '../schemas/Console.yaml#/TrafficView'
    TrafficViewEnvelope:
      $ref: '../schemas/Console.yaml#/TrafficViewEnvelope'
    DashboardView:
      $ref: '../schemas/Console.yaml#/DashboardView'
    DashboardViewEnvelope:
      $ref: '../schemas/Console.yaml#/DashboardViewEnvelope'
    TopologyEvent:
      $ref: '../schemas/Console.yaml#/TopologyEvent'
    TopologyEventListEnvelope:
      $ref: '../schemas/Console.yaml#/TopologyEventListEnvelope'
    RuntimeLogLine:
      $ref: '../schemas/Console.yaml#/RuntimeLogLine'
    RuntimeLogListEnvelope:
      $ref: '../schemas/Console.yaml#/RuntimeLogListEnvelope'
    NodeDetection:
      $ref: '../schemas/Console.yaml#/NodeDetection'
    NodeDetailView:
      $ref: '../schemas/Console.yaml#/NodeDetailView'
    NodeDetailEnvelope:
      $ref: '../schemas/Console.yaml#/NodeDetailEnvelope'
    LogKpis:
      $ref: '../schemas/Console.yaml#/LogKpis'
    LogEntry:
      $ref: '../schemas/Console.yaml#/LogEntry'
    PipelineComponent:
      $ref: '../schemas/Console.yaml#/PipelineComponent'
    LogStreamView:
      $ref: '../schemas/Console.yaml#/LogStreamView'
    LogStreamEnvelope:
      $ref: '../schemas/Console.yaml#/LogStreamEnvelope'
    RulesConsoleView:
      $ref: '../schemas/Rules.yaml#/RulesConsoleView'
    RulesConsoleEnvelope:
      $ref: '../schemas/Rules.yaml#/RulesConsoleEnvelope'
    RuleSeverity:
      $ref: '../schemas/Rules.yaml#/RuleSeverity'
    RuleMode:
      $ref: '../schemas/Rules.yaml#/RuleMode'
    RuleCategory:
      $ref: '../schemas/Rules.yaml#/RuleCategory'
    RuleAction:
      $ref: '../schemas/Rules.yaml#/RuleAction'
    Rule:
      $ref: '../schemas/Rules.yaml#/Rule'
    RuleUpsertRequest:
      $ref: '../schemas/Rules.yaml#/RuleUpsertRequest'
    RuleEnvelope:
      $ref: '../schemas/Rules.yaml#/RuleEnvelope'
    RuleListEnvelope:
      $ref: '../schemas/Rules.yaml#/RuleListEnvelope'
    AgentRule:
      $ref: '../schemas/Rules.yaml#/AgentRule'
    AgentRuleset:
      $ref: '../schemas/Rules.yaml#/AgentRuleset'
    AgentRulesetEnvelope:
      $ref: '../schemas/Rules.yaml#/AgentRulesetEnvelope'

    LoginRequest:
      $ref: '../schemas/Account.yaml#/LoginRequest'
    RegisterRequest:
      $ref: '../schemas/Account.yaml#/RegisterRequest'
    LoginResponse:
      $ref: '../schemas/Account.yaml#/LoginResponse'
    LoginResponseEnvelope:
      $ref: '../schemas/Account.yaml#/LoginResponseEnvelope'
    MfaLoginRequest:
      $ref: '../schemas/Account.yaml#/MfaLoginRequest'
    GoogleLoginRequest:
      $ref: '../schemas/Account.yaml#/GoogleLoginRequest'
    MfaSetupResponse:
      $ref: '../schemas/Account.yaml#/MfaSetupResponse'
    MfaSetupResponseEnvelope:
      $ref: '../schemas/Account.yaml#/MfaSetupResponseEnvelope'
    MfaCodeRequest:
      $ref: '../schemas/Account.yaml#/MfaCodeRequest'
    AccountView:
      $ref: '../schemas/Account.yaml#/AccountView'
    AccountViewEnvelope:
      $ref: '../schemas/Account.yaml#/AccountViewEnvelope'
    PreferencesView:
      $ref: '../schemas/Account.yaml#/PreferencesView'
    ProfileUpdateRequest:
      $ref: '../schemas/Account.yaml#/ProfileUpdateRequest'
    PreferencesRequest:
      $ref: '../schemas/Account.yaml#/PreferencesRequest'
    NotificationsRequest:
      $ref: '../schemas/Account.yaml#/NotificationsRequest'
    ChangePasswordRequest:
      $ref: '../schemas/Account.yaml#/ChangePasswordRequest'
    SessionView:
      $ref: '../schemas/Account.yaml#/SessionView'
    SessionListEnvelope:
      $ref: '../schemas/Account.yaml#/SessionListEnvelope'
    AuditView:
      $ref: '../schemas/Account.yaml#/AuditView'
    AuditListEnvelope:
      $ref: '../schemas/Account.yaml#/AuditListEnvelope'
